<!DOCTYPE html>
<html lang="en">

<head>

<link rel="shortcut icon" href="assets/favico.ico">

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/animate.css" rel="stylesheet">

    
    <script src="assets/modernizr.custom.js"></script>

    <link href="assets/stylish-portfolio.css" rel="stylesheet">
  
</head>

<body>

    <!-- Navigation -->
    <!--
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >The Wise Owl</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>

             <li>
                <a href="#download-cv" onclick = $("#menu-close").click(); >Download CV</a>
            </li>

             <li>
                <a href="#life" onclick = $("#menu-close").click(); >Work & Play</a>
            </li>

            <li>
                <a href="#services" onclick = $("#menu-close").click(); >Services</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>
-->
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#top">Wise Owl</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#top"></a>
                    </li>
                    <li>
                        <a  onclick = $("#menu-close").click(); href="#about">About</a>
                    </li>
                    <li>
                        <a onclick = $("#menu-close").click(); href="#life">History</a>
                    </li>
                    <li>
                        <a onclick = $("#menu-close").click(); href="#services">Services</a>
                    </li>
                    

                    <li>
                        <a onclick = $("#menu-close").click(); href="#portfolio">Portfolio</a>
                    </li>
                    
                    <li>
                        <a conclick = $("#menu-close").click(); href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->

    
   <header id="top" class="header">
        <div class="text-vertical-center-header wow slideInLeft animated" style="visibility: visible; animation-name: slideInLeft; -webkit-animation-name: slideInLeft;">
            <h1>The Wise Owl</h1>
            <h3>Creative Technologist - Anish Patel</h3>
            <br>
            <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
           
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container  wow slideInLeft animated" style="visibility: visible; animation-name: slideInLeft; -webkit-animation-name: slideInLeft;">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <h2>The story about a boy who became an owl</h2>
                    <p class="lead">A young boy graduated from Plymouth University in cold England with a 2.1 honours degree in Digital Arts & Technology.</p>

                    <p class="lead">After he graduated the boy promptly got himself a job at Sponge UK, which was an E-Learning company, where he worked on an application to help manage depression using Stroyline Articulate. </p>

                    <p class="lead">After toiling and saving money for 6 months, the young man began to dream of traveling the world to learn new things.  During his travels in Malaysia, he met ayoung girl who was of the view that all British people loved owls. Coincidently, he was wearing an owl t-shirt at the time but thought nothing of it. </p>

                    <p class="lead">After that encounter, as he continued with his travel, he became aware that whenever he wore that t-shirt, it always attracted people’s attention and comments on how nice it was.</p>

                    <p class="lead">After traveling all through South East Asia he arrived on the Gold Coast of Australia.  he met a group of individuals with whom he endured months of grueling farm work with him and in the process become his best friends. These friends of the young man thought he had some sort of wisdom, although the man was unaware, and thus he got the nickname The Wise Owl.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container --> 
    </section>
 <!-- Callout -->
    <aside id="download-cv" class="callout">
        <div class="text-vertical-center">
            	 <h1>If you want the normal CV</h1>
                    <a href="assets/AnishPatelCV.docx" class="btn btn-circle btn-dark"><i class="fa fa-arrow-circle-down animated"></i></a>
        </div>
    </aside>
    

    <!-- Life Section -->
    <section id="life" class="life">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">History</h2>
                   
                    <hr class="small">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/itn.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2015 – March 2015</h4>
                                    <h4 class="subheading">ITN Marketing (Sydney) </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I taught and managed another Android developer from ground up whilst fulfilling the lead Android developer role. The project involved working with Amazon Cloud services such as DynamoDb and Cognito, working on syncing local and cloud servers via the app, designing & producing UI/UX and implementing changes for the client. </p>


                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-image">
                               <a  href="welcome/journey" > <img class="img-circle img-responsive" src="assets/travel.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2014 – Dec 2014</h4>
                                    <h4 class="subheading">Traveling the World </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have been traveling part of the world for almost 2 years. I have worked my way around South East Asia (Singapore, Malaysia, Thailand, Cambodia, Vietnam, Laos). There are many things still to see and explore. Some travel blogs suggest that once you start, you wont be able to stop. I guess, travelling will always be in my blood but for the foreseeable future I am content with my life and wish to build a foundation.  </p>

                                    <br> <a href="welcome/journey" class="btn btn-dark btn-lg">Find Out More</a></br>
                                </div>
                            </div>
                        </li>



                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/sponge.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> July 2013 - Dec 2013</h4>
                                    <h4 class="subheading">Sponge UK</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I helped to develop an E-learning/ training course for coping with depression. I was involved in content population and interaction production using Storyline Articulate. Some problem solving was required for the CMS, which required Javascript knowledge. Other responsibilities involved helping to test the application on different devices. I had to work closely with content producers to ensure the highest quality “look and feel” of the end product.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Plymouth
                                    <br>University
                                    <br> 3 year</br>
                                </h4>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                               
                                <br><h4><b>Crystal</b></h4></br>
                               

                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2010 – Sept 2011</h4>
                                    <h4 class="subheading">Crystal Production</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This app involved PHP content management and production of Ajax hooks to and from main server. The app required full product life cycle from design & development to deployment. I self taught commercial development standards in Android & became the lead Android developer. Eclipse & Android SDK was the development environment. My role also included liaising with both the client & the company director to ensure the client and the developer team could accomplish the clients request and changes on time.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/sync.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2010 – Nov 2010</h4>
                                    <h4 class="subheading">Sync </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was working in a small team and new company to produce Android apps for Lloyds Pharmacies. This was my first work in commercial Android development, learning and coding parts of the backend of app.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Plymouth
                                    <br>University
                                    <br> 1 & 2 years</br>
                                </h4>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Born
                                    <br>October
                                    <br>1990</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary wow zoomIn animated" style="visibility: visible; animation-name: zoomIn; -webkit-animation-name: zoomIn;">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Technologies </h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Web service</strong>
                                </h4>
                                <p>Amazon Cognito &amp DynamoDB, HTML, Jquery, CSS, PHP</p>
                                <a  href="#portfolio" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-android fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Android Dev</strong>
                                </h4>
                                <p>Native Android development using Eclipse  </p>
                                <a href="#portfolio" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Experimental</strong>
                                </h4>
                                <p>Arduino boards &amp sensors, Processing (Java platform)</p>
                                <a href="#mod-4" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-paint-brush fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Adobe Suite</strong>
                                </h4>
                                <p>Self teaching Photoshop, Illustrator</p>
                                <a id="mod-7" href="#portfolioModal7" class="btn btn-light portfolio-link">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

   

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                   
                    <hr class="small">
                </div>
            </div>
            <div class="row">
                <a id="mod-1" href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="grid wow zoomIn">
                            <figure class="effect-bubba">
                                <img src="assets/portfolio/wakey-preview.jpg" alt="img01"/>
                                <figcaption>
                                    <h2>Wakey <span>App</span></h2>
                                    <p>Android 4 + Cloud Services</p>
                                </figcaption>           
                            </figure>
                        </div>
                    </div>
                </a>

                <a id="mod-2" href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="grid wow zoomIn">
                            <figure class="effect-bubba">
                                <img src="assets/portfolio/play-preview.jpg" alt="img01"/>
                                <figcaption>
                                    <h2>Vivant <span>App</span></h2>
                                    <p>Android 4</p>
                                </figcaption>           
                            </figure>
                        </div>
                    </div>
                </a>
         
                <a id="mod-3" href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="grid wow zoomIn">
                            <figure class="effect-bubba">
                                <img src="assets/portfolio/elp-preview.jpg" alt="img01"/>
                                <figcaption>
                                    <h2>Elp-Desk <span>App</span></h2>
                                    <p>Android 2.2</p>
                                </figcaption>           
                            </figure>
                        </div>
                    </div>
                </a>



                <a id="mod-4" href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="grid wow zoomIn">
                            <figure class="effect-bubba">
                                <img src="assets/portfolio/dat-cal.jpg" alt="img01"/>
                                <figcaption>
                                    <h2>Dat Cal <span>Website</span></h2>
                                    <p>Website Design</p>
                                </figcaption>           
                            </figure>
                        </div>
                    </div>
                </a>

               
                 <a id="mod-5" href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="grid wow zoomIn">
                            <figure class="effect-bubba">
                                <img src="assets/portfolio/birdwire-preview.jpg" alt="img01"/>
                                <figcaption>
                                    <h2>Bird Wire <span> Aurdino</span></h2>
                                    <p>Experimental</p>
                                </figcaption>           
                            </figure>
                        </div>
                    </div>
                </a>

                <a id="mod-6" href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="grid wow zoomIn">
                            <figure class="effect-bubba">
                                <img src="assets/portfolio/physeq-preivew.jpg" alt="img01"/>
                                <figcaption>
                                    <h2>PhysEQ <span> Aurdino</span></h2>
                                    <p>Experimental</p>
                                </figcaption>           
                            </figure>
                        </div>
                    </div>
                </a>
              
                
            </div>
        </div>
    </section>

  


    <!-- Footer -->
    <footer>
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2><strong>Contact Me</strong>  <hr class="small">
                    </h2>

                    <p>50 Sir John Young <br>Woolloomooloo, NSW 2011</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (04) 374 331 40 </li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:anishpatel44@googlemail.com">anishpatel44@googlemail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.linkedin.com/profile/view?id=151289737&trk"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                        </li>
                        
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Wise Owl 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- # Footer Ends -->
<a href="#top" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>
<!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Wakey</h2>
                            <p class="item-intro text-muted">Project for Bupa in conjunction with Ethos Health (ITN Marketing)</p>
                            <img class="img-responsive img-centered" src="assets/portfolio/wakey.jpg" alt="">
                                <p> Wakey is a health assessment app built for Bupa medical insurance company in partnership with Ethos Health. The app was designed to record the users self-assessment about their symptoms. it would then, depending on the severity, suggest possible copping strategies or inform the user to contact their supervisor and or doctor for further help.</p>
                                <p>
                                I was brought on as the lead Android developer for this project, which was multitier architecture with 3 levels. My role involved working and producing all 3 tiers from ground up, UI/UX designs and implementations, local SQLite database and cloud Amazon DynamoDB database for application syncing to the Web App. I also became a mentor to the other Android developer, teaching him Android development techniques.  
                                </p>

                                <p>
                                This role gave me the opportunity learn and challenge my existing knowledge. Implementing large-scale cloud services such as Amazon DynamoDb was by far the greatest challenge. By the end of the application I had made huge leaps forwards in understating how to scale an application through the use of the web hosted logic and data tiers. Having both logic and data hosted in a cloud service allows multiple platforms ease of access to the same data, thus it requires less development time & reduces production costs. 
                                </P>

                            <ul class="list-block">
                                <li><strong>Technology</strong></li>
                                <li>Amazon cloud services (DynamoDB, Cognito)</li>
                                <li>Location serivces</li>
                                <li>Native Android (Java,XML)</li>
                                <li>FAB (Floating Action Button)</li>
                                <li>Fragments</li>
                            </ul>
                            <ul class="list-inline">
                                <li>Date: April 2015</li>
                                <li>Client: Bupa & Ethos Health</li>
                                <li>Category: Android</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Vivant</h2>
                            <p class="item-intro text-muted">Art gallery app to practice dev work</p>
                            <img class="img-responsive img-centered" src="assets/portfolio/play.jpg" alt="">
                            <p>Vivant was a chance to practice some current skills. The app pulls data from JSON hosted on a web server; once the data is pulled it is stored in the local SQLite database. 
                            </p>

							<p>I was using the new Google maps 2.0 API to plot the co-ordinates of the data, with a pop-up that show the user’s art rating and location.
							</p>
                           
                           <ul class="list-block">
                                <li><strong>Technology</strong></li>
                                <li>Location serivces</li>
                                <li>Google maps API</li>
                                <li>SQLite</li>
                                <li>Native Android (Java,XML)</li>
                                <li>FAB (Floating Action Button)</li>
                                <li>Fragments</li>
                            </ul>

                            <ul class="list-inline">
                                <li>Date:June 2015</li>
                                <li>Client: Me</li>
                                <li>Category: Android</li>
                            </ul>
                             
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Elp-Desk</h2>
                            <p class="item-intro text-muted">European Language Passport</p>
                            <img class="img-responsive img-centered" src="assets/portfolio/elp.jpg" alt="">
                            <p>The Elp-Desk App allows the user to produce a language CV to send to potential employers all over Europe. Council of Europe’s <a href="http://www.elp-desk.eu/GB/Home_GB.html">European Language Portfolio</a> Wanted to create documents to guarantee the transparency of qualifications and knowledge and so encourage mobility across the European employment.
							
                            <p>During this role I was the sole Android developer working in a team who were producing the Web biased solution.  This job paid was part of my industrial placement for University.  It appears I do well when under pressure and with no backup.</p>
                             <ul class="list-block">
                                <li><strong>Technology</strong></li>
                                <li>Lcoal Storage (SQlite) </li>
                                <li>PDF builder API</li>
                                <li>Email client</li>
                                
                            </ul>
                            <ul class="list-inline">
                                <li>Date: September 2011</li>
                                <li>Client: European Imigration (Crystal)</li>
                                <li>Category: Android 2.2</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Dat Cal</h2>
                            <p class="item-intro text-muted">My final year project</p>
                            <div class="embed-responsive embed-responsive-16by9">
							    <iframe src="https://player.vimeo.com/video/66724926" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/66724926">Dat Video</a>
							</div>
                            <p>This project was created to theoretically help save the UK’s NHS (National Health Service)problem with money and time wastage by patient due non-attendance to pre booked appointment.The Idea was to gather all booked appointments on a cloud service that all GP’s round the UK could access. The NHS loses a lot of money through patients not attending their appointments, due to forgetfulness or inability to turn up on time. As a result I created a possible solution to aid the problem. </p>
                            
                            <p>The user would have a mobile application as well as website to book an appointment. The app/ website would show available times for an appointment. When the appointment time neared an alert would be sent to the patient who would then confirm or reject the invitation. This would then update the scheduling service and make amendments either saving the time slot for said patient or removing them from the slot and allowing some else to take the position.</p>
                            
                            <ul class="list-block">
                                <li><strong>Technology</strong></li>
                                <li>Google calendar</li>
                                <li>MYSQL (Store procedures)</li>
                                <li>Android</li>
                                
                            </ul>

                            <ul class="list-inline">
                                <li>Date: March 2013</li>
                                <li>Client: Individual University project</li>
                                <li>Category: Web + Android</li>
                            </ul>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Bird Wire</h2>
                            <p class="item-intro text-muted">The transformation of invisable data</p>
                            <iframe src="https://player.vimeo.com/video/51385222" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p>There is a theory that if you put a million monkeys at a million typewriters eventually they will type the entire works of Shakespeare. We just used birds because we don’t have monkeys. We looked into the kinds of data that birds might give out such as birdcalls, wings beating and finally we settled to feeding habits.</p>
                            
                            <p>The plan was to use a sound sensor within a bird box in order to pick up pecking sounds made by the birds. It would probably be necessary to intice the birds with some food, so we would put the sound sensor inside a feeder, or a cup/bottle coated with seed. The Arduino would then send the sound data to processing where it would be interpreted as morse code in order to convert the sounds to natural language. After 140 characters worth of text has been produced, the maximum limit, then the string would automatically be tweeted from the @birdwireapp twitter account.</p>

                            <p>The values from the sound input were linked to Processing where it would be interpreted as Morse code. Two input thresholds were set up to distinguish between what we liked to think of as ‘quiet’ pecks and ‘loud’ pecks. A quiet peck would represent the ‘dot’ or ‘dit’, and a loud peck would represent the ‘dash’ or ‘dah’. A ‘space’ was also inserted if there was a substantial pause between pecks in order to create words rather than just a long string of characters. Because Morse code consists of the whole alphabet plus some punctuation, it would even be possible to ‘@’ mention specific users on twitter.</p>

							<p>At this point the birds were still spouting absolute gibberish, until we discovered the <a class="btn-link" href="http://www.rednoise.org/rita/" title="RiTa natural language library">RiTa</a> natural language library for Processing. Using the <a class="btn-link" href="http://www.rednoise.org/rita/documentation/rita/RiLexicon.html" title="RiTa - RiLexicon">RiLexicon</a> aspect of the library it meant we were able to provide the birds with some form of auto-correction. So now the birds would be using actual words!</p>
                            
                             <ul class="list-inline">
                                <li>Date: September 2013</li>
                                <li>Client: Group University project</li>
                                <li>Category: Web + Aurdino</li>
                            </ul>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>PhysEQ</h2>
                            <p class="item-intro text-muted">Data mapping in real-time</p>
                             
                             <div id="carousel-phys" class="carousel slide phys-cara" data-ride="carousel">
							 
							  <ol class="carousel-indicators">
							    <li data-target="#carousel-phys" data-slide-to="0" class="active"></li>
							    <li data-target="#carousel-phys" data-slide-to="1"></li>
							    <li data-target="#carousel-phys" data-slide-to="2"></li>
							   
							  </ol>
							 
							 
							  <div class="carousel-inner">

							  	<div class="item active">
							      <img class="img-responsive img-centered" src="assets/portfolio/setup.gif" alt="">
							      <div class="carousel-caption">
							          The project setup
							      </div>
							    </div>


							    <div class="item">
							      <iframe id="player1"  width="100%" height="300" src="https://player.vimeo.com/video/60834282?api=1&player_id=player2" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							      
							    </div>

								<div class="item">
							      <iframe  id="player2" width="100%" height="300" src="https://player.vimeo.com/video/59175550?api=1&player_id=player2" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							    </div>
							   

							  </div>
							 
							 
							  <a class="left carousel-control" href="#carousel-phys" role="button" data-slide="prev">

							  
							   <i class="fa fa-angle-left  glyphicon glyphicon-chevron-left" ></i>
							  </a>
							  <a class="right carousel-control" href="#carousel-phys" role="button" data-slide="next">
							  	<i class="fa fa-angle-right glyphicon glyphicon-chevron-right"></i>
							    
							  </a>
							</div> 
                            <p>This project was about people’s interaction with music and the visual representation of the outcome. Our brief was to create an interactive installation to be placed in public. We thought about making something that is inherently digital into something analogue?</p>

							<p>Using the Xbox Kinect and the <a href="http://shiffman.net/p5/kinect/">Open Kinect library</a>, we programed it to generate values from the distance from one hand to the other. The values were then put into a program we designed using Processing which was to analyse music frequencies. Once the sound has been modified we pipe that altered sound into a Processing visualisation sketch, which is connected to a projector and beams down on a speaker that held a Non-Newtonian fluid.</p>

							<p>As the user moves his/her hand, the song would be distorted. In side the speaker that the distorted sound cames from, we put Non-Newtonian fluid (cornflour and water mixed together) that dances under the concussive force of the speakers.

							</p>
							<ul class="list-block">
                                <li><strong>Technology</strong></li>
                                <li>Open Kinect library</li>
                                <li>Processing</li>
                                <li>Minim sound library</li>
                            </ul>
                                <ul class="list-inline">
                                <li>Date: January 2013</li>
                                <li>Client: Group University project</li>
                                <li>Category: Aurdino + Processing</li>
                           
                            </ul>

                         
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 7 -->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Photoshop </h2>
                            <p class="item-intro text-muted">Some Photoshop experiments, enjoy :)</p>
                           
                            <div id="carousel-photo" class="carousel slide photo-cara" data-ride="carousel">
							 
							  <ol class="carousel-indicators">
							    <li data-target="#carousel-photo" data-slide-to="0" class="active"></li>
							    <li data-target="#carousel-photo" data-slide-to="1"></li>
							    <li data-target="#carousel-photo" data-slide-to="2"></li>
							    <li data-target="#carousel-photo" data-slide-to="3"></li>
							    <li data-target="#carousel-photo" data-slide-to="4"></li>
							    <li data-target="#carousel-photo" data-slide-to="5"></li>
							    <li data-target="#carousel-photo" data-slide-to="6"></li>
							  </ol>
							 
							 
							  <div class="carousel-inner">

							    <div class="item active">
							      <img class="img-responsive img-centered" src="assets/photo/fox.jpg" alt="">
							     <div class="carousel-caption">The Stealthy Fox is Stealthy</div>
							    </div>

							    <div class="item">
							      <img class="img-responsive img-centered" src="assets/photo/owl.jpg" alt="">
							      <div class="carousel-caption"></div>
							    </div>

							     <div class="item">
							      <img class="img-responsive img-centered" src="assets/photo/columbus.jpg" alt="">
							     <div class="carousel-caption"></div>
							    </div>

							     <div class="item">
							      <img class="img-responsive img-centered" src="assets/photo/bear.jpg" alt="">
							     <div class="carousel-caption">The Bold Bear is Bold</div>
							    </div>
							    <div class="item">
							      <img class="img-responsive img-centered" src="assets/photo/wolf-woman.jpg" alt="">
							     <div class="carousel-caption"></div>
							    </div>

							    <div class="item">
							      <img class="img-responsive img-centered" src="assets/photo/owl2.jpg" alt="">
							     <div class="carousel-caption"></div>
							    </div>
							    <div class="item">
							      <img class="img-responsive img-centered" src="assets/bg2.jpg" alt=""> 
							      <div class="carousel-caption"></div>
							    </div>

							  </div>
							 
							 
							  <a class="left carousel-control" href="#carousel-photo" role="button" data-slide="prev">
							  	
							   <i class="fa fa-angle-left  glyphicon glyphicon-chevron-left" ></i>
							  </a>

							  <a class="right carousel-control" href="#carousel-photo" role="button" data-slide="next">
							  <i class="fa fa-angle-right glyphicon glyphicon-chevron-right"></i>
							    
							  </a>
							</div> 

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
      <!-- Plugin JavaScript -->

<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
 	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <script>
    window.jQuery || document.write('<script src="assets/jquery.js"><\/script>')
    </script>
 	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

 <!--<script src="assets/agency.js"></script>-->
	<script src="assets/jquery.js"></script>
    
    <script src="assets/bootstrap.min.js"></script>
     <script src="assets/agency.js"></script>
    <script src="assets/wow.min.js"></script>
    <script src="assets/classie.js"></script>
    <script src="assets/cbpAnimatedHeader.min.js"></script>
     

   
    <!-- jQuery -->
  <script>



    </script>
   

   
    <!-- Custom Theme JavaScript -->

</body>

</html>

 

 
 

