<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anish patel, Digital art, Android portfolio">
    <meta name="author" content="Anish patel">

    <title>Wise Owl</title>
    <link rel="shortcut icon" href="../assets/favico.ico">
 	


    <!-- jquery -->
    <!--<script src="../assets/jquery.js"></script>-->
    
    <!-- Custom Fonts -->
    <!-- <link href="../assets/font-awesome.min.css" rel="stylesheet" type="text/css">  -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", defer: true %>
    <!--<script src="../assets/travel/validation.js" type="text/javascript"></script>-->
    
        <!-- jquery -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<%= yield %>

</body>
</html>


