<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anish patel, Digital art, Android portfolio">
    <meta name="author" content="Anish patel">

    <title>Wise Owl</title>
    <link rel="shortcut icon" href="../assets/favico.ico">
 	


    <!-- jquery -->
    <!--<script src="../assets/jquery.js"></script>-->
    
    <!-- Custom Fonts -->
    <link href="../assets/font-awesome.css.scss" rel="stylesheet" type="text/css"> 
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", defer: true %>

</head>
<body>

<%= yield %>

</body>
</html>


